<!doctype html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="utf-8" />
    <title>Dashboard | FEASSA - East African Schools Sports</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      content="Registration and Management system for the Federation of EastAfrican Schools Sports Associations."
      name="description"
    />
    <meta content="Shafiq" name="author" />

    <!-- App favicon -->
    <link
      rel="shortcut icon"
      href="{% static 'img/logo-sm.png' %}"
      type="image/x-icon"
    />

    {% include "styles/styles.html" %}
  </head>

  <body class="h-100">
    <div
      class="auth-bg d-flex min-vh-100 justify-content-center align-items-center"
    >
      <div
        class="row g-2 justify-content-center w-100 m-xxl-5 px-xxl-4 m-3 align-items-center"
      >
        <div class="col-xl-4 col-lg-4 col-md-6">
          <div class="mb-3">
            <img src="{% static 'img/bg.svg' %}" alt="" width="100%" />
          </div>
          <p class="mt-auto mb-0">
            <script>
              document.write(new Date().getFullYear());
            </script>
            © feassa.org By
            <span
              class="fw-bold text-decoration-underline text-uppercase text-reset fs-12"
              >FEASSA it team</span
            >
          </p>
        </div>
        <div class="col-xl-8 col-lg-8 col-md-6">
          <div class="card overflow-hidden h-100 p-xxl-4 p-3 mb-0">
            <a href="index.html" class="auth-brand mb-4">
              <img
                src="{% static 'img/logo.jpeg' %}"
                alt="dark logo"
                height="100"
                class="logo-dark"
              />
              <img
                src="{% static 'img/logo.jpeg' %}"
                alt="logo light"
                height="100"
                class="logo-light"
              />
            </a>
            <h4 class="fw-semibold mb-2 fs-18">Welcome to FEASSA</h4>
            <div class="registration_form">
              <form
                action=""
                method="POST"
                class="form-ctrl card-body"
                enctype="multipart/form-data"
                id="regeForm"
              >
                {% csrf_token %}
                <div class="fields">
                  <div class="leftp">
                    {% if messages %}
                    <div class="messages">
                      {% for message in messages %}
                      <div
                        class="alert {% if message.tags == 'error' %}error-message{% elif message.tags == 'success' %}success-message{% endif %}"
                      >
                        {{ message }}
                      </div>
                      {% endfor %}
                    </div>
                    {% endif %}
                    <div class="row">
                      <div class="col-md-4">
                        <div
                          class="field"
                          style="
                            background-size: cover;
                            background-position: center;
                            height: 300px;
                            width: 100%;
                          "
                        >
                          <div
                            id="photos_preview"
                            class="preview-container"
                          ></div>
                        </div>
                        <div class="field mt-2">
                          <input
                            type="file"
                            name="photo"
                            accept="image/*"
                            id="id_photo"
                            class="form-control"
                          />
                        </div>
                      </div>

                      <div class="col-md-8">
                        <div class="row mb-3">
                          <div class="col-md-6">
                            <label>First Name</label>{{cform.fname}}
                          </div>
                          <div class="col-md-6">
                            <label>Last Name</label>{{cform.lname}}
                          </div>
                        </div>

                        <div class="row mb-3">
                          <div class="col-md-6">
                            <label>Sport</label>{{cform.sport}}
                          </div>
                          <div class="col-md-6">
                            <label>Role</label>{{cform.role}}
                          </div>
                        </div>
                        <div class="row mb-3">
                          <div class="col-md-6">
                            <label>Gender</label>{{cform.gender}}
                          </div>
                          <div class="col-md-6">
                            <label>Country</label>{{cform.country}}
                          </div>
                        </div>
                        <div class="row mb-3">
                          <div class="col-md-6">
                            <button type="submit" class="btn btn-primary mt-2">
                              Submit
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Vendor js -->
    {% include "scripts/js.html" %}
  </body>
</html>
