{% extends "dashboard/dashboard.html" %} {%load static%}
<!---->
{% block title %} Schools{% endblock %}
<!---->

{%block content%}
<div class="schools">
  <div class="top flex">
    <h1>SCHOOLS</h1>
  </div>

  <div class="lo">
    <div class="official-list">
      <table id="myTable" class="display">
        <thead>
          <tr>
            <th>Name</th>
            <th>Athletes</th>
            <th>Country</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for school in schools%}
          <tr>
            <td>
              <a href="{% url 'school' school.id%}">{{school.name}}</a>
            </td>
            <td>{{ school.athlete_set.count }} Athletes</td>
            <td>{{ school.country }}</td>
            <td>
              <a href="" class="del"><i class="fa fa-pencil"></i>Edit</a>
            </td>
            <td>
              <a href="" class="del"><i class="fa fa-trash"></i>Delete</a>
            </td>
          </tr>

          {%endfor%}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
