{% extends "dashboard/dashboard.html" %}
{% load static %}
<!---->
{% block title %}{{school}}{% endblock %}
<!---->
{% block content %}
<div class="school">
  <div class="champ">
    <h1>{{school}}</h1>
    <hr>
  </div>
  <div class="top flex">
    <h2>athletes</h2>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Add athlete</button>
  </div>
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
  <div class="lo">
    <div class="official-list">
      <table id="myTable" class="display">
        <thead>
          <tr>
            <th>Name</th>
            <th>Sport</th>
            <th>Gender</th>
            <th>Class</th>
            {% if user.is_superuser %}
            <th>Edit</th>
            <th>Delete</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for athlete in athletes %}
          <tr>
            <td><a href="{% url 'athlete' athlete.id%}">{{athlete.fname}} {{athlete.lname}}</a></td>
            <td>{{athlete.sport}}</td>
            <td>{{athlete.gender}}</td>
            <td>{{athlete.classroom}}</td>
            {% if user.is_superuser %}
            <td><a href="{%url 'athleteupdate' athlete.id%}" class="del"><i class="fa fa-pencil"></i>Edit</a></td>
            <td><a href="{%url 'athletedelete' athlete.id%}" class="btn btn-danger"><i class="fa fa-trash"></i>Delete</a></td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New Athlete</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="athleteForm" action="" method="POST" class="form-ctrl glue" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="fields grid2">
              <div class="left">
                <h2>Athlete Info</h2>
                <div class="field">
                  <label>{{form.photo.label}}</label>
                  {% if form.instance.photo %}
                  <img src="{{ form.instance.photo.url }}" id="image-preview" alt="Current Photo" />
                  {% else %}
                  <img src="{% static 'images/profile.png'%}" id="image-preview" alt="No Photo" />
                  {% endif %}
                </div>
                <div class="field">
                  <input type="file" name="photo" accept="image/*" onchange="displayImage(this);" id="id_photo" />
                </div>
                <input type="hidden" name="croppedImage" id="croppedImage">
              </div>
              <div class="left">
                <div class="field-grid grid2">
                  <div class="field"><label>First Name</label>{{cform.fname}}</div>
                  <div class="field"><label>Last Name</label>{{cform.lname}}</div>
                  <div class="field"><label>LIN/ PASSPORT</label>{{cform.id_number}}</div>
                  <div class="field"><label>CLASS</label>{{cform.classroom}}</div>
                </div>
                <div class="field-grid grid2">
                  <div class="field"><label>Sport</label>{{cform.sport}}</div>
                  <div class="field"><label>Gender</label>{{cform.gender}}</div>
                </div>
                <div class="field">
                  <label for="date_of_birth">Date of Birth:</label>
                  <input type="date" id="id_date_of_birth" name="date_of_birth" class='form-control' />
                </div>
                <button type="submit" class="btn btn-primary width-100">Save athlete</button>
              </div>
            </div>
          </form>
          
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
