<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="utf-8" />
    <title>FEASSA | Media</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      content="A fully featured admin theme which can be used to build CRM, CMS, etc."
      name="description"
    />
    <meta content="Coderthemes" name="author" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'img/logo-sm.png' %}" />

    <!-- Theme Config Js -->
    {% include "styles/styles.html" %}
  </head>

  <body class="h-100">
    <div
      class="auth-bg d-flex min-vh-100 justify-content-center align-items-center"
    >
      <div class="row g-0 justify-content-center w-100 m-xxl-5 px-xxl-4 m-3">
        <div class="col-xl-6 col-lg-5 col-md-6">
          <div class="card overflow-hidden text-center h-100 p-xxl-4 p-3 mb-0">
            <a href="/" class="auth-brand mb-4">
              <img
                src="{% static 'img/logo-light.png' %}"
                alt="dark logo"
                height="26"
                class="logo-dark"
              />
              <img
                src="assets/images/logo.png"
                alt="logo light"
                height="26"
                class="logo-light"
              />
            </a>

            <h4 class="fw-semibold mb-2 fs-18">Welcome to FEASSA Games 2025</h4>

            <p class="text-muted mb-4">
              Use the form below to register for FEASSA Games 2025 Media Accreditation.
            </p>

            <form
              id="athleteForm"
              action=""
              method="POST"
              class="form-control"
              enctype="multipart/form-data"
            >
              {% csrf_token %}
              <div class="card">
                <div class="card-header">
                  <h2>Official Info</h2>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-5">
                      <label>{{form.photo.label}}</label>
                      <div id="photos_preview" class="preview-container"></div>
                      <div class="form-group">
                        <input
                          type="file"
                          name="photo"
                          accept="image/*"
                          id="id_photo"
                          class="form-control"
                        />
                      </div>

                      <input
                        type="hidden"
                        name="croppedImage"
                        id="croppedImage"
                      />
                    </div>
                    <div class="col-md-7">
                      <div class="form-group">
                        <label>First Name</label>{{cform.fname}}
                      </div>
                      <div class="form-group">
                        <label>Last Name</label>{{cform.lname}}
                      </div>
                      <div class="form-group">
                        <label>Media House</label>{{cform.media_house}}
                      </div>
                      <div class="form-group">
                        <label>Media Type</label>{{cform.media_type}}
                      </div>

                      <div class="form-group">
                        <label>Role</label>{{cform.role}}
                      </div>
                      <div class="form-group">
                        <label>Country</label>{{cform.country}}
                      </div>

                  </div>

                  <button type="submit" class="btn btn-primary width-100">
                    Save Official
                  </button>
                </div>
              </div>
            </form>

            <p class="mt-auto mb-0">
              <script>
                document.write(new Date().getFullYear());
              </script>
              © FEASSA - By
              <span
                class="fw-bold text-decoration-underline text-uppercase text-reset fs-12"
                >Shafiq</span
              >
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Vendor js -->
    {% include "scripts/js.html" %}
  </body>
</html>
