{% extends "dashboard/dashboard.html" %} {%load static%}
<!---->
{% load static %}
<!---->
{% block title %}Media{% endblock %}
<!---->
{% block content %}

<div class="page-container">
  <div class="page-title-head d-flex align-items-center gap-2">
    <div class="flex-grow-1">
      <h1 class="fs-16 text-uppercase fw-bold mb-0">Media</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header"></div>
        <div class="card-body">
          <table
            id="schools"
            class="table table-striped dt-responsive nowrap w-100"
          >
            <thead>
              <tr>
                <th>Name</th>
                <th>Media House</th>
                <th>Media Type</th>
                <th>Role</th>

                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>

            <tbody>
              {% for media in medias %}
              <tr>
                <td>
                  <a href="{% url 'media_detail' media.id%}"
                    >{{media.fname}} {{media.lname}}</a
                  >
                </td>
                <td>{{media.media_house}}</td>
                <td>{{media.media_type}}</td>
                <td>{{media.role}}</td>

                <td>
                  <a href="" class="badge badge-primary p-2"
                    ><i class="fa fa-pencil"></i>Edit</a
                  >
                </td>
                <td>
                  <a
                    href="{% url 'delete_media' media.id%}"
                    class="badge badge-danger p-2"
                    ><i class="fa fa-trash"></i>Delete</a
                  >
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- end card body-->
      </div>
      <!-- end card -->
    </div>
    <!-- end col-->
  </div>
  <!-- end row-->
</div>

{% endblock %}
