{% extends "dashboard/dashboard.html" %}
<!--static-->
{% load static %}
<!---->
{% block content %}

<div class="home-page">
  <main class="content">
    <div class="row">
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
          <div class="card-header p-3 pt-2">
            <div
              class="icon icon-lg icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4 position-absolute"
            >
              <img src="{% static 'img/ug.svg'%}" alt="" />
            </div>
            <div class="text-end pt-1">
              <p class="text-sm mb-0 text-capitalize">Schools</p>
              <h4 class="mb-0">{{uganda}}</h4>
            </div>
          </div>
          <hr class="dark horizontal my-0" />
          <div class="card-footer p-3 flex">
            <p class="mb-0">
              <span class="text-success text-sm font-weight-bolder"
                >+{{in_uganda_schools}} </span
              >Athletes
            </p>
            <p class="mb-0">
              <span class="text-success text-sm font-weight-bolder"
                >+{{in_uganda_girls}} </span
              >Girls
            </p>
            <p class="mb-0">
              <span class="text-success text-sm font-weight-bolder"
                >+{{in_uganda_boys}} </span
              >Boys
            </p>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
          <div class="card-header p-3 pt-2">
            <div
              class="icon icon-lg icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4 position-absolute"
            >
              <img src="{% static 'img/ke.svg'%}" alt="" />
            </div>
            <div class="text-end pt-1">
              <p class="text-sm mb-0 text-capitalize">Schools</p>
              <h4 class="mb-0">{{kenya}}</h4>
            </div>
          </div>
          <hr class="dark horizontal my-0" />
          <div class="card-footer p-3 flex">
            <p class="mb-0">
              <span class="text-success text-sm font-weight-bolder"
                >+{{in_kenya_schools}} </span
              >Athletes
            </p>
            <p class="mb-0">
              <span class="text-success text-sm font-weight-bolder"
                >+{{in_kenya_girls}} </span
              >Girls
            </p>
            <p class="mb-0">
              <span class="text-success text-sm font-weight-bolder"
                >+{{in_kenya_boys}} </span
              >Boys
            </p>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
          <div class="card-header p-3 pt-2">
            <div
              class="icon icon-lg icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4 position-absolute"
            >
              <img src="{% static 'img/tz.svg'%}" alt="" />
            </div>
            <div class="text-end pt-1">
              <p class="text-sm mb-0 text-capitalize">Schools</p>
              <h4 class="mb-0">{{tanzania}}</h4>
            </div>
          </div>
          <hr class="dark horizontal my-0" />
          <div class="card-footer p-3 flex">
            <p class="mb-0">
              <span class="text-success text-sm font-weight-bolder"
                >+{{in_tanzania_schools}} </span
              >Athletes
            </p>
            <p class="mb-0">
              <span class="text-success text-sm font-weight-bolder"
                >+{{in_tanzania_girls}} </span
              >Girls
            </p>
            <p class="mb-0">
              <span class="text-success text-sm font-weight-bolder"
                >+{{in_tanzania_boys}} </span
              >Boys
            </p>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
          <div class="card-header p-3 pt-2">
            <div
              class="icon icon-lg icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4 position-absolute"
            >
              <img src="{% static 'img/rd.svg'%}" alt="" />
            </div>
            <div class="text-end pt-1">
              <p class="text-sm mb-0 text-capitalize">Schools</p>
              <h4 class="mb-0">{{rwanda}}</h4>
            </div>
          </div>
          <hr class="dark horizontal my-0" />
          <div class="card-footer p-3 flex">
            <p class="mb-0">
              <span class="text-success text-sm font-weight-bolder"
                >+{{in_rwanda_schools}} </span
              >Athletes
            </p>
            <p class="mb-0">
              <span class="text-success text-sm font-weight-bolder"
                >+{{in_rwanda_girls}} </span
              >Girls
            </p>
            <p class="mb-0">
              <span class="text-success text-sm font-weight-bolder"
                >+{{in_rwanda_boys}} </span
              >Boys
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
{% endblock content %}
