{% extends "dashboard/dashboard.html" %}
<!-- Dashboard Overview    -->
{% load static %}
<!--content-->
{% block content %}
<div class="page-container">
  <div class="page-title-head d-flex align-items-center gap-2">
    <div class="flex-grow-1">
      <h4 class="fs-16 text-uppercase fw-bold mb-0">Dashboard</h4>
    </div>

    <div class="text-end">
      <ol class="breadcrumb m-0 py-0 fs-13">
        <li class="breadcrumb-item">
          <a href="javascript: void(0);">FEASSA</a>
        </li>

        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </div>
  </div>

  <div class="row row-cols-xxl-4 row-cols-md-2 row-cols-1">
    <div class="col">
      <div class="card overflow-hidden">
        <div class="card-body">
          <h5 class="text-muted fs-13 text-uppercase" title="Number of Orders">
            Total Schools
          </h5>
          <div class="d-flex align-items-center gap-2 my-2 py-1">
            <div class="user-img fs-42 flex-shrink-0">
              <span class="avatar-title text-bg-primary rounded-circle fs-22">
                <iconify-icon
                  icon="solar:case-round-minimalistic-bold-duotone"
                ></iconify-icon>
              </span>
            </div>
            <h3 class="mb-0 fw-bold">{{ schools_count }}</h3>
            <iconify-icon
              icon="solar:cart-2-line-duotone"
              class="ms-auto display-1 position-absolute opacity-25 text-muted widget-icon"
            ></iconify-icon>
          </div>
          <p class="mb-0 text-muted">
            <span class="text-danger me-2"
              ><i class="ti ti-caret-down-filled"></i> 9.19%</span
            >
            <span class="text-nowrap">Since last month</span>
          </p>
        </div>
      </div>
    </div>
    <!-- end col -->

    <div class="col">
      <div class="card overflow-hidden">
        <div class="card-body">
          <h5 class="text-muted fs-13 text-uppercase" title="Number of Orders">
            Total Athletes
          </h5>
          <div class="d-flex align-items-center gap-2 my-2 py-1">
            <div class="user-img fs-42 flex-shrink-0">
              <span class="avatar-title text-bg-primary rounded-circle fs-22">
                <iconify-icon
                  icon="solar:bill-list-bold-duotone"
                ></iconify-icon>
              </span>
            </div>
            <h3 class="mb-0 fw-bold">{{ athletes_count }}</h3>
            <iconify-icon
              icon="solar:banknote-2-line-duotone"
              class="ms-auto display-1 position-absolute opacity-25 text-muted widget-icon"
            ></iconify-icon>
          </div>
          <p class="mb-0 text-muted">
            <span class="text-success me-2"
              ><i class="ti ti-caret-up-filled"></i> 26.87%</span
            >
            <span class="text-nowrap">Since last month</span>
          </p>
        </div>
      </div>
    </div>
    <!-- end col -->

    <div class="col">
      <div class="card overflow-hidden">
        <div class="card-body">
          <h5 class="text-muted fs-13 text-uppercase" title="Number of Orders">
            Total Committees
          </h5>
          <div class="d-flex align-items-center gap-2 my-2 py-1">
            <div class="user-img fs-42 flex-shrink-0">
              <span class="avatar-title text-bg-primary rounded-circle fs-22">
                <iconify-icon
                  icon="solar:wallet-money-bold-duotone"
                ></iconify-icon>
              </span>
            </div>
            <h3 class="mb-0 fw-bold">{{ committees_count }}</h3>
            <iconify-icon
              icon="solar:cardholder-line-duotone"
              class="ms-auto display-1 position-absolute opacity-25 text-muted widget-icon"
            ></iconify-icon>
          </div>
          <p class="mb-0 text-muted">
            <span class="text-success me-2"
              ><i class="ti ti-caret-up-filled"></i> 3.51%</span
            >
            <span class="text-nowrap">Since last month</span>
          </p>
        </div>
      </div>
    </div>
    <!-- end col -->

    <div class="col">
      <div class="card overflow-hidden">
        <div class="card-body">
          <h5 class="text-muted fs-13 text-uppercase" title="Number of Orders">
            Number of Officials
          </h5>
          <div class="d-flex align-items-center gap-2 my-2 py-1">
            <div class="user-img fs-42 flex-shrink-0">
              <span class="avatar-title text-bg-primary rounded-circle fs-22">
                <iconify-icon icon="solar:eye-bold-duotone"></iconify-icon>
              </span>
            </div>
            <h3 class="mb-0 fw-bold">{{ official_count }}</h3>
            <iconify-icon
              icon="solar:eye-scan-bold-duotone"
              class="ms-auto display-1 position-absolute opacity-25 text-muted widget-icon"
            ></iconify-icon>
          </div>
          <p class="mb-0 text-muted">
            <span class="text-danger me-2"
              ><i class="ti ti-caret-down-filled"></i> 1.05%</span
            >
            <span class="text-nowrap">Since last month</span>
          </p>
        </div>
      </div>
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->

  <div class="row">
    <div class="col-xxl-6">
      <div class="card">
        <div
          class="d-flex card-header justify-content-between align-items-center"
        >
          <h4 class="header-title">Breakdown by Country</h4>
        </div>
        <div class="card-body p-0">
          <div class="bg-light bg-opacity-50 py-1 text-center"></div>
          <div class="table-responsive">
            <table
              class="table table-custom table-centered table-sm table-nowrap table-hover mb-0"
            >
              <tbody>
                <tr>
                  <td>
                    <div class="d-flex align-items-center">
                      <div class="avatar-md flex-shrink-0 me-2">
                        <span
                          class="avatar-title bg-primary-subtle rounded-circle"
                        >
                          <img
                            src="{% static 'img/ug.svg'%}"
                            alt=""
                            height="22"
                          />
                        </span>
                      </div>
                      <div>
                        <span class="text-muted fs-12">USSSA</span>
                        <br />
                        <h5 class="fs-14 mt-1">Uganda - UG</h5>
                      </div>
                    </div>
                  </td>
                  <td>
                    <span class="text-muted fs-12">Schools</span>
                    <h5 class="fs-14 mt-1 fw-normal">{{in_uganda_schools}}</h5>
                  </td>
                  <td>
                    <span class="text-muted fs-12">Athletes</span> <br />
                    <h5 class="fs-14 mt-1 fw-normal">{{in_uganda_athletes}}</h5>
                  </td>
                  <td>
                    <span class="text-muted fs-12">Officials</span>
                    <h5 class="fs-14 mt-1 fw-normal">{{in_uganda_officials}}</h5>
                  </td>
                  <td>
                    <span class="text-muted fs-12">Media</span>
                    <h5 class="fs-14 mt-1 fw-normal">
                      <i class="ti ti-circle-filled fs-12 text-success"></i>
                      Active
                    </h5>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="d-flex align-items-center">
                      <div class="avatar-md flex-shrink-0 me-2">
                        <span
                          class="avatar-title bg-primary-subtle rounded-circle"
                        >
                          <img
                            src="{% static 'img/ke.svg'%}"
                            alt=""
                            height="22"
                          />
                        </span>
                      </div>
                      <div>
                        <span class="text-muted fs-12">KSSSA</span>
                        <br />
                        <h5 class="fs-14 mt-1">Kenya - KE</h5>
                      </div>
                    </div>
                  </td>
                  <td>
                    <span class="text-muted fs-12">Schools</span>
                    <h5 class="fs-14 mt-1 fw-normal">{{in_kenya_schools}}</h5>
                  </td>
                  <td>
                    <span class="text-muted fs-12">Athletes</span> <br />
                    <h5 class="fs-14 mt-1 fw-normal">{{in_kenya_athletes}}</h5>
                  </td>
                  <td>
                    <span class="text-muted fs-12">Officials</span>
                    <h5 class="fs-14 mt-1 fw-normal">{{in_kenya_officials}}</h5>
                  </td>
                  <td>
                    <span class="text-muted fs-12">Media</span>
                    <h5 class="fs-14 mt-1 fw-normal">
                      <i class="ti ti-circle-filled fs-12 text-success"></i>
                      Active
                    </h5>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="d-flex align-items-center">
                      <div class="avatar-md flex-shrink-0 me-2">
                        <span
                          class="avatar-title bg-primary-subtle rounded-circle"
                        >
                          <img
                            src="{% static 'img/tz.svg'%}"
                            alt=""
                            height="22"
                          />
                        </span>
                      </div>
                      <div>
                        <span class="text-muted fs-12">TSSSA</span>
                        <br />
                        <h5 class="fs-14 mt-1">Tanzania - TZ</h5>
                      </div>
                    </div>
                  </td>
                  <td>
                    <span class="text-muted fs-12">Schools</span>
                    <h5 class="fs-14 mt-1 fw-normal">
                      {{in_tanzania_schools}}
                    </h5>
                  </td>
                  <td>
                    <span class="text-muted fs-12">Athletes</span> <br />
                    <h5 class="fs-14 mt-1 fw-normal">{{in_tanzania_athletes}}</h5>
                  </td>
                  <td>
                    <span class="text-muted fs-12">Officials</span>
                    <h5 class="fs-14 mt-1 fw-normal">{{in_tanzania_officials}}</h5>
                  </td>
                  <td>
                    <span class="text-muted fs-12">Media</span>
                    <h5 class="fs-14 mt-1 fw-normal">
                      <i class="ti ti-circle-filled fs-12 text-success"></i>
                      Active
                    </h5>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="d-flex align-items-center">
                      <div class="avatar-md flex-shrink-0 me-2">
                        <span
                          class="avatar-title bg-primary-subtle rounded-circle"
                        >
                          <img
                            src="{% static 'img/rd.svg'%}"
                            alt=""
                            height="22"
                          />
                        </span>
                      </div>
                      <div>
                        <span class="text-muted fs-12">RSSSA</span>
                        <br />
                        <h5 class="fs-14 mt-1">Rwanda - RW</h5>
                      </div>
                    </div>
                  </td>
                  <td>
                    <span class="text-muted fs-12">Schools</span>
                    <h5 class="fs-14 mt-1 fw-normal">{{in_rwanda_schools}}</h5>
                  </td>
                  <td>
                    <span class="text-muted fs-12">Athletes</span> <br />
                    <h5 class="fs-14 mt-1 fw-normal">{{in_rwanda_athletes}}</h5>
                  </td>
                  <td>
                    <span class="text-muted fs-12">Officials</span>
                    <h5 class="fs-14 mt-1 fw-normal">{{in_rwanda_officials}}</h5>
                  </td>
                  <td>
                    <span class="text-muted fs-12">Media</span>
                    <h5 class="fs-14 mt-1 fw-normal">
                      <i class="ti ti-circle-filled fs-12 text-success"></i>
                      Active
                    </h5>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="d-flex align-items-center">
                      <div class="avatar-md flex-shrink-0 me-2">
                        <span
                          class="avatar-title bg-primary-subtle rounded-circle"
                        >
                          <img
                            src="{% static 'img/br.svg'%}"
                            alt=""
                            height="22"
                          />
                        </span>
                      </div>
                      <div>
                        <span class="text-muted fs-12">BSSSA</span>
                        <br />
                        <h5 class="fs-14 mt-1">Burundi - BI</h5>
                      </div>
                    </div>
                  </td>
                  <td>
                    <span class="text-muted fs-12">Schools</span>
                    <h5 class="fs-14 mt-1 fw-normal">{{in_burundi_schools}}</h5>
                  </td>
                  <td>
                    <span class="text-muted fs-12">Athletes</span> <br />
                    <h5 class="fs-14 mt-1 fw-normal">{{in_burundi_athletes}}</h5>
                  </td>
                  <td>
                    <span class="text-muted fs-12">Officials</span>
                    <h5 class="fs-14 mt-1 fw-normal">{{in_burundi_officials}}</h5>
                  </td>
                  <td>
                    <span class="text-muted fs-12">Media</span>
                    <h5 class="fs-14 mt-1 fw-normal">
                      <i class="ti ti-circle-filled fs-12 text-success"></i>
                      Active
                    </h5>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- end table-responsive-->
        </div>
        <!-- end card-body-->
      </div>
      <!-- end card-->
    </div>
    <!-- end col-->


  </div>
  <!-- end row-->
</div>
{% endblock %}
