{% extends "dashboard/dashboard.html" %}

<!--static-->
{% block title %}{{athlete.fname}} {{athlete.lname}}{% endblock %}
<!--static-->
{% load static %}
<!--khfufufu-->
{% block content %}

<div class="page-container">
  <div class="page-title-head d-flex align-items-center gap-2">
    <div class="flex-grow-1">
      <h4 class="fs-16 text-uppercase fw-bold mb-0">Athletes</h4>
      <a
        href="{% url 'export_acsv' %}"
        class="fs-16 text-uppercase fw-bold mb-0"
        >Export as CSV</a
      >
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <table
            id="schools"
            class="table table-striped dt-responsive nowrap w-100"
          >
            <thead>
              <tr>
                <th>Name</th>
                <th>School</th>
                <th>Sport</th>
                <th>Gender</th>
                <th>Class</th>
                {% if user.is_superuser %}
                <th>Edit</th>
                <th>Delete</th>
                {% endif %}
              </tr>
            </thead>

            <tbody>
              {% for athlete in all_athletes %}
              <tr>
                <td>
                  <a href="{% url 'qathlete' athlete.id%}"
                    >{{athlete.fname}} {{athlete.lname}}</a
                  >
                </td>
                <td>{{athlete.school}}</td>
                <td>{{athlete.sport}}</td>
                <td>{{athlete.gender}}</td>
                <td>{{athlete.classroom}}</td>
                {% if user.is_superuser %}
                <td>
                  <a href="{%url 'athleteupdate' athlete.id%}" class="del"
                    ><i class="fa fa-pencil"></i>Edit</a
                  >
                </td>
                <td>
                  <a
                    href="{%url 'athletedelete' athlete.id%}"
                    class="btn btn-danger"
                    ><i class="fa fa-trash"></i>Delete</a
                  >
                </td>
                {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- end card body-->
      </div>
      <!-- end card -->
    </div>
    <!-- end col-->
  </div>
  <!-- end row-->
</div>

{% endblock %}
