<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {% include "styles/styles.html" %}
  </head>
  <body>
    <div class="card" style="width: 18rem">
      <img
        src="{{ athlete.photo.url }}"
        alt="{{athlete.fname}} {{athlete.lname}}"
        class="img-fluid mb-3"
      />
      <div class="card-body">
        <p class="d-flex justify-content-between fs-18">
          Names: <strong>{{athlete.fname}} {{athlete.lname}}</strong>
        </p>
        <p class="d-flex justify-content-between fs-18">
          School: <strong>{{athlete.school}}</strong>
        </p>
        <p class="d-flex justify-content-between fs-18">
          Class: <strong>{{athlete.classroom}}</strong>
        </p>
        <p class="d-flex justify-content-between fs-18">
          Gender: <strong>{{athlete.gender}}</strong>
        </p>
        <p class="d-flex justify-content-between fs-18">
          Sport: <strong>{{athlete.sport}}</strong>
        </p>

        <p class="d-flex justify-content-between fs-18">
          Date of Birth: <strong>{{athlete.date_of_birth}}</strong>
        </p>
      </div>
    </div>
  </body>
</html>
