{% extends "dashboard/dashboard.html" %} {%load static%}
<!---->
{% block title %} {{school}}{% endblock %}
<!---->

{%block content%}
<div class="school">
  <div class="champ">
    <h1>{{official}}</h1>
    <hr />
  </div>
  <div class="modalbody">
    <form
      action=""
      method="POST"
      class="form-ctrl glue"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <div class="fields grid2">
        <div class="left">
          <h2>Official Info</h2>
          <div class="field">
            <label>{{form.photo.label}}</label>
            {% if form.instance.photo %}
            <img
              src="{{ form.instance.photo.url }}"
              id="image-preview"
              alt="Current Photo"
            />
            {% else %}
            <img
              src="{% static 'images/profile.png'%}"
              id="image-preview"
              alt="No Photo"
            />
            {% endif %}
          </div>
          <div class="field">
            <input
              type="file"
              name="photo"
              accept="image/*"
              onchange="displayImage(this);"
              id="id_photo"
            />
          </div>
          <input type="hidden" name="croppedImage" id="croppedImage" />
        </div>

        <div class="left">
          <div class="field-grid">
            <div class="field"><label>First Name</label>{{cform.fname}}</div>

            <div class="field"><label>Last Name</label>{{cform.lname}}</div>
            <div class="field"><label>NIN/ PASSPORT</label>{{cform.nin}}</div>
            <div class="field"><label>Email</label>{{cform.email}}</div>

            <div class="field-grid">
              <div class="field"><label>School</label>{{cform.school}}</div>
              <div class="field"><label>Gender</label>{{cform.gender}}</div>
              <div class="field"><label>Role</label>{{cform.role}}</div>
            </div>
          </div>

          <button type="submit" class="btn btn-primary width-100">
            Save official
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
