{% extends "dashboard/dashboard.html" %}

<!--static-->
{% block title %}{{official.fname}} {{official.lname}}{% endblock %}
<!--static-->
{% load static %}
<!--khfufufu-->
{% block content %}
<div class="athlete-dew">
  <div class="athlete">
    <div class="img glue">
      {% if official.photo %}
      <img src="{{official.photo.url}}" alt="" />
      {% else %}
      <img src="{% static 'images/profile.png'%}" alt="" />{% endif %}
    </div>
    <div class="athlete-details glue">
      <h1>Official info</h1>
      <hr />
      <span
        ><h2>names</h2>
        :
        <h3>{{official.fname}} {{official.lname}}</h3></span
      >
      <hr />
      <span
        ><h2>Lin/ Passport ID</h2>
        :
        <h3>{{official.nin}}</h3></span
      >
      <hr />
      <span
        ><h2>Email</h2>
        :
        <h3>{{official.email}}</h3></span
      >
      <hr />
      <span
        ><h2>School</h2>
        :
        <h3>{{official.school}}</h3></span
      >
      <hr />
      <span
        ><h2>Role</h2>
        :
        <h3>{{official.role}}</h3></span
      >
      <hr />
      
    </div>
  </div>
</div>
{% endblock %}
