<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/noc.css'%}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.css"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="wrapper">
      <form
        id="athleteForm"
        action=""
        method="POST"
        enctype="multipart/form-data"
      >
        {% csrf_token %}
        <div class="field2">
          <div class="left">
            <h2>Your Info</h2>
            <div class="field">
              <label>{{form.photo.label}}</label>
              {% if form.instance.photo %}
              <img
                src="{{ form.instance.photo.url }}"
                id="image-preview"
                alt="Current Photo"
              />
              {% else %}
              <img
                src="{% static 'img/logos.jpg'%}"
                id="image-preview"
                alt="No Photo"
              />
              {% endif %}
            </div>
            <div class="field">
              <input
                type="file"
                name="photo"
                accept="image/*"
                onchange="displayImage(this);"
                id="id_photo"
              />
            </div>
            <input type="hidden" name="croppedImage" id="croppedImage" />
          </div>
          <div class="left">
            <div class="fielj">
              <div class="field"><label>First Name</label>{{cform.fname}}</div>
              <div class="field"><label>Last Name</label>{{cform.lname}}</div>
              <div class="field">
                <label>Committee</label>{{cform.comittee}}
              </div>
              <div class="field"><label>Title</label>{{cform.title}}</div>
            </div>

            <button type="submit" class="btn btn-primary width-100">
              Submit
            </button>
          </div>
        </div>
        {% if messages %}
        <ul class="messages">
          {% for message in messages %}
          <li
            class="alert {% if message.tags %} alert-{{ message.tags }} {% endif %}"
          >
            {{ message }}
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </form>
    </div>
    <script src="{% static 'js/apps.js'%}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
