{% extends "dashboard/dashboard.html" %}

<!--static-->
{% block title %}Officials{% endblock %}
<!--static-->
{% load static %}
<!--khfufufu-->
{% block content %}
<div class="schools-dew">
  <div class="head flex">
    <h1>Officials</h1>
  </div>
  <h2>Filter NOfficials</h2>
  <form method="get">
    {{ filter.form.as_p }}
    <button type="submit">Search</button>
  </form>

  <form method="post">
    {% csrf_token %}
    <input type="submit" name="Accreditation" value="Accreditation" />
  </form>
  <form method="post">
    {% csrf_token %}
    <input type="submit" name="Certficate" value="Certficate" />
  </form>
  <div class="filterlist glue">
    <div class="official-list">
      <table id="myTable" class="display">
        <thead>
          <tr>
            <th>Names</th>
            <th>Committee</th>
            <th>Title</th>
          </tr>
        </thead>
        <tbody>
          {% for teacher in filter.qs %}
          <tr>
            <td>
              <a href="{% url 'noch' teacher.id%}"
                >{{teacher.fname}} {{teacher.lname}}</a
              >
            </td>
            <td>{{teacher.comittee}}</td>
            <td>{{teacher.title}}</td>
          </tr>

          {%endfor%}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
